.nav-bar {
  display: flex;
  justify-content: space-evenly;
  background: darkolivegreen;
  height: 3rem;
  margin-top: 4px;
  font-size: 1.5rem;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}
